@media (max-width: 1020px) {
   .containe {
      padding: 0 15px;
   }
   header{
      .menu{
         &-item{
            margin-right: 30px !important;
         }
         &-number{
            margin-left: 10px !important;
         }
      }
   }
   .downloads {
   
      &-item {
         &-element {
            &-text {
               h3 {
                  font-size: 14px !important;
               }
            }
   
            &-donl {
               margin-left: 20px !important;
            }
         }
      }
   }
}

@media (max-width: 770px) {
   .containe {
      padding: 0 15px;
   }

   header {
      padding-top: 50px;
      nav{
      .menu {
         flex-direction: column;
         align-items: center;
         justify-content: space-between !important;
         padding: 20px 15px !important;
         position: fixed;
         top: 0;
         left: -100%;
         width: 50%;
         height: 100vh;
         background-color: rgba($color: #000000, $alpha: 0.8);
         transition: 0.6s all;
         &-active{
            left: 0;
         }
         &-item {
            font-size: 22px !important;
         }
         &-logo{
            display: none;
         }

         &-number {
            display: none;
         }
      }
      }
      .hamburger {
         display: block !important;
         position: fixed;
         right: 4%;
         top: 5%;
         transform: translateY(-50%);
         width: 26px;
         height: 12px;
         padding-bottom: 10px;
      
         span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #C0C0C0;
            margin-bottom: 3px;
            transition: 0.5s all;
         }
      
         &-active {
            span {
               margin-bottom: -3px;
      
               &:nth-child(1) {
                  transform: translateY(3px) rotate(-45deg);
               }
      
               &:nth-child(2) {
                  display: none;
               }
      
               &:nth-child(3) {
                  transform: translateY(3px) rotate(45deg);
               }
            }
         }
      }
      
   }

   .popular {
      &-item {
   
         &-big {
            background: url(../img/bg/telephone.png) 50% 50%/50% no-repeat !important;
   
            &:hover {
               background: url(../img/bg/telephone.png) 50% 50%/50% no-repeat !important;
            }
         }
   
         &-little {
            background: url(../img/bg/play.png) 50% 50%/30% no-repeat !important;
   
            &:hover {
               background: url(../img/bg/play.png) 50% 50%/30% no-repeat !important;
            }
         }
   
         &-big2 {
            background: url(../img/bg/mac.png) 50% 50%/45% no-repeat !important;
   
            &:hover {
               background: url(../img/bg/mac.png) 50% 50%/45% no-repeat !important;
            }
         }
   
         &-little2 {
            background: url(../img/bg/book.png) 50% 55%/40% no-repeat !important;
   
            &:hover {
               background: url(../img/bg/book.png) 50% 55%/40% no-repeat !important;
            }
         }
      }
   }
   
   .downloads{
      .shell{
         grid-template-columns: 1fr 1fr !important;
         grid-column-gap: 25px !important;
      }
      &-item{
         &-element{
            // width: 100%;
            &-text{
               h3{
                  font-size: 14px !important;
               }
            }
            &-donl{
               margin-left: auto !important;
            }
         }
      }
   }
}

@media (max-width: 749px) {
   header {
      .mask {
         &-head {
            font-size: 50px !important;
         }
      }
   }
   .popular{
      &-item{
         flex-direction: column;
         .block{
            margin-bottom: 20px;
            &-text{
               display: none !important;
            }
            &-text2{
               display: block !important;
            }
         }
         &-big{
            background: url(../img/bg/telephone.png) 50% 50%/50% no-repeat !important;
            &:hover {
               background: url(../img/bg/telephone.png) 50% 50%/50% no-repeat !important;
            }
         }
         &-little{
            background: url(../img/bg/play.png) 50% 50%/30% no-repeat !important;
            &:hover{
               background: url(../img/bg/play.png) 50% 50%/30% no-repeat !important;
            }
         }

         &-big2{
            margin-left: 0 !important;
            background: url(../img/bg/mac.png) 50% 50%/30% no-repeat !important;
            &:hover{
               background: url(../img/bg/mac.png) 50% 50%/30% no-repeat !important;
            }
         }
         &-little2{
            background: url(../img/bg/book.png) 50% 55%/40% no-repeat !important;
            &:hover{
               background: url(../img/bg/book.png) 50% 55%/40% no-repeat !important;
            }
         }
      }
   }
}
@media (max-width: 480px){
.downloads {
   .shell {
      grid-template-columns: 1fr !important;
      grid-column-gap: 25px !important;
   }

   &-item {
      &-element {

         // width: 100%;
         &-text {
            h3 {
               font-size: 14px !important;
            }
         }

         &-donl {
            margin-left: auto !important;
         }
      }
   }
}
}

@media (max-width: 430px){
   header{
      .mask{
         padding: 30px !important;
         &-head{
            font-size: 40px !important;
         }
         &-text{
            font-size: 20px !important;
         }
         
      }
   }
   .tweet{
   &-menu{
         flex-direction: column !important;
         &-item{
            text-align: left;
            margin-bottom: 50px;
         }
      }
   }
}

@media (max-width: 321px){
   .popular {
      &-item {
         &-little {
            min-width: 0px !important;
         }
         &-little2 {
            min-width: 0px !important;
         }
      }
   }
}



