@media (max-width: 1020px) {
   .containe {
      padding: 0 15px;
   }
   header{
      .menu{
         &-item{
            margin-right: 30px !important;
         }
         &-number{
            margin-left: 10px !important;
         }
      }
   }
}

@media (max-width: 770px) {
   .containe {
      padding: 0 15px;
   }

   header {
      .menu {
         &-item {
            margin-right: 30px !important;
         }

         &-number {
            margin-left: 10px !important;
         }
      }
   }
   .downloads{

      &-item{
         &-element{
            &-text{
               h3{
                  font-size: 14px !important;
               }
            }
            &-donl{
               margin-left: 0 !important;
            }
         }
      }
   }
}

