// General settings

body{
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.btn{
   width: 228px;
   height: 60px;
   background: -webkit-linear-gradient(90deg, #8c26ff, #7723ff, #b01eff);
   background: linear-gradient(90deg, #8c26ff, #7723ff, #b01eff);
   border: 1px solid #7723FF;
   border-radius: 50px;
   font-size: 24px;
   font-weight: 700;
   &-link{
      text-decoration: none;
      color: #fff;
      opacity: 1;
      &:hover {
         color: #fff;
         opacity: 0.6;
      }
   }
}

.containe{
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;
}

//--General settings

// section header

header{
   background: url(../img/bg/nav-bg.png) center center/cover no-repeat;
   min-height: 690px;
   .menu{
      display: flex;
      justify-content: center;
      padding: 58px 0;
      
   &-item{
         list-style-type: none;
         margin-right: 60px;
         font-size: 20px;
         font-weight: 700;
         &:nth-child(6) {
            margin-right: 0;
         }
         
      }
      &-link{
         display: block;
         text-decoration: none;
         color: #F2F2F2;
      }
      &-img{
         width: 30px;
         height: 30px;
      }
      &-img2{
         width: 30px;
         height: 35px;
      }
      &-logo{
         margin-right: 50px;
      }
      &-number{
         margin-left: 32px;
      }
   }
   .mask{
      border: 1px solid #212C4F;
      border-radius: 14px;
      background: url(../img/bg/Mask-bg.png) 0 0/cover no-repeat;
      padding: 50px;
      &-head{
         color: #F0F3F5;
         font-size: 60px;
         font-weight: 700;
      }
      &-download{
         color: #C6D0EB;
         font-weight: 500;
         &-courses{
            margin-right: 29px;
            font-size: 18px;
            text-transform: uppercase;
         }
         &-gb{
            font-size: 12px;
         }
      }
      &-text{
         margin-top: 10px;
         color: #F0F3F5;
         font-size: 24px;
         font-weight: 300;
      }
      button{
         margin-top: 24px;
         
      }
   }
}
//--section header


//section popular
.popular{
   &-header{
      font-size: 30px;
      color: #205284;
      margin-top: 10px;
   }
   &-item{
      
      margin-top: 20px;
      .block{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         box-shadow: 0 0 5px 2px #C6D0EB;
         min-height: 400px;
         padding: 40px;
         border: 1px solid #C6D0EB;
         border-radius: 20px;
         &-text {
            font-size: 20px;
            font-weight: 400;
            color: #205284;
         }
      }
      display: flex;
      h2{
         margin-bottom: 20px;
         font-size: 40px;
         color: #205284;
      }
      &-big{
         width: 100%;
         margin-right: 40px;
         background: url(../img/icon/telephone.png) 50% 60%/50% no-repeat;
         transition: all 0.6s;
         &:hover{
            background: url(../img/icon/telephone.png) 50% 60%/60% no-repeat;
            transition: all 0.6s;
         }

         
      }
      &-little{
         min-width: 320px;
      }

      &-big2{
         margin-right: 0;
         margin-left: 40px;
         background: none;
         &:hover {
            background: none;
         }
      }
   }
   .download{
      
      &-courses{
         text-transform: uppercase;
         margin-right: 25px;
         font-size: 18px;
         font-weight: 500;
         color: #C6D0EB;
      }
      &-img{
         margin-top: 50px;
         margin-left: 70px;
         img{
            cursor: pointer;
            width: 90px;
            transition: all 0.6s;
            opacity: 1;
         }
         &:hover{
            img {
               transition: all 0.6s;
               opacity: 0.8;
            }
         }
      }
      &-gb{
         font-size: 12px;
         font-weight: 500;
         color: #C6D0EB;
      }
      &-img2 {
         img {
            margin-left: 130px;
            width: 267px;
         }
      }
   }
}

//--section popular