// General settings
@import "media";

body{
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.section-out{
   width: 100%;
}

.ta-c{
   text-align: center;
}

.btn{
   width: 228px;
   height: 60px;
   background: -webkit-linear-gradient(90deg, #8c26ff, #7723ff, #b01eff);
   background: linear-gradient(90deg, #8c26ff, #7723ff, #b01eff);
   border: 1px solid #7723FF;
   border-radius: 50px;
   font-size: 24px;
   font-weight: 700;
   &-link{
      text-decoration: none;
      color: #fff;
      opacity: 1;
      &:hover {
         color: #fff;
         opacity: 0.6;
      }
   }
}

.btn2{
   width: 180px;
   background: -webkit-linear-gradient(90deg, #9b51e0, #3436e7);
   background: linear-gradient(90deg, #9b51e0, #3436e7);
}

.containe{
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;
}

//--General settings

// section header
.wrapper{
   background: url(../img/bg/nav-bg.png) top center/100% no-repeat;
}
header{
   nav{
   .menu{
      display: flex;
      justify-content: center;
      padding: 50px 0;
      margin-bottom: 0;
      
      &-item{
         list-style-type: none;
         margin-right: 60px;
         font-size: 20px;
         font-weight: 700;
         &:nth-child(6) {
            margin-right: 0;
         }
         
      }
      &-link{
         display: block;
         text-decoration: none;
         color: #F2F2F2;
      }
      &-img{
         width: 30px;
         height: 30px;
      }
      &-img2{
         width: 30px;
         height: 35px;
      }
      &-logo{
         margin-right: 50px;
      }
      &-number{
         margin-left: 30px;
      }
   }
   }
   .hamburger{
      display: none;
   }
   .mask{
      border: 1px solid #212C4F;
      border-radius: 14px;
      background: url(../img/bg/Mask-bg.png) 0 0/cover no-repeat;
      padding: 50px;
      &-head{
         color: #F0F3F5;
         font-size: 60px;
         font-weight: 700;
      }
      &-download{
         color: #C6D0EB;
         font-weight: 500;
         &-courses{
            margin-right: 29px;
            font-size: 18px;
            text-transform: uppercase;
         }
         &-gb{
            font-size: 12px;
         }
      }
      &-text{
         margin-top: 10px;
         color: #F0F3F5;
         font-size: 24px;
         font-weight: 300;
      }
      button{
         margin-top: 24px;
         
      }
   }
}
//--section header


//section popular
.popular{
   margin-top: 50px;
   &-header{
      font-size: 30px;
      color: #205284;
      margin-top: 10px;
   }
   &-item{
      
      margin-top: 20px;
      .block{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         box-shadow: 0 0 5px 2px #C6D0EB;
         min-height: 500px;
         padding: 40px;
         border: 1px solid #C6D0EB;
         border-radius: 20px;
         &-text {
            font-size: 20px;
            font-weight: 400;
            color: #205284;
         }
         &-text2{
            display: none;
            font-size: 20px;
            font-weight: 400;
            color: #205284;
         }
      }
      display: flex;
      h2{
         margin-bottom: 20px;
         font-size: 40px;
         color: #205284;
      }
      &-big{
         width: 100%;
         margin-right: 40px;
         background: url(../img/bg/telephone.png) 50% 50%/50% no-repeat;
         background-color: #fff;
         transition: all 0.6s;
         &:hover{
            background: url(../img/bg/telephone.png) 50% 50%/60% no-repeat;
            transition: all 0.6s;
         }

         
      }
      &-little{
         min-width: 320px;
         background: url(../img/bg/play.png) 50% 50%/40% no-repeat;
         background-color: #fff;
         transition: all 0.6s;
         &:hover {
            background: url(../img/bg/play.png) 50% 50%/50% no-repeat;
            transition: all 0.6s;
         }
      }

      &-big2{
         margin-right: 0;
         margin-left: 40px;
         background: none;
         background-color: #fff;
         background: url(../img/bg/mac.png) 50% 50%/40% no-repeat;
         transition: all 0.6s;
         &:hover {
            background: url(../img/bg/mac.png) 50% 50%/45% no-repeat;
            transition: all 0.6s;
         }
      }

      &-little2 {
         min-width: 320px;
         background-color: #fff;
         background: url(../img/bg/book.png) 50% 55%/40% no-repeat;
         transition: all 0.6s;
         &:hover {
            background: url(../img/bg/book.png) 50% 55%/50% no-repeat;
            transition: all 0.6s;
         }
      }
   }
   .download{
      
      &-courses{
         text-transform: uppercase;
         margin-right: 25px;
         font-size: 18px;
         font-weight: 500;
         color: #C6D0EB;
      }
      &-img{
         margin: 50px auto 0;
         img{
            cursor: pointer;
            width: 90px;
            transition: all 0.6s;
            opacity: 1;
         }
         &:hover{
            img {
               transition: all 0.6s;
               opacity: 0.8;
            }
         }
      }
      &-gb{
         font-size: 12px;
         font-weight: 500;
         color: #C6D0EB;
      }
      &-img2 {
         img {
            margin-left: 130px;
            width: 267px;
         }
      }
   }
}

//--section popular

//section downloads
   .downloads{
      margin-bottom: 113px;
      .shell{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-column-gap: 50px;
         grid-row-gap: 15px;
         
      }
      &-header{
         margin-top: 63px;
         font-size: 30px;
         font-weight: 700;
         color: #205284;
      }
      
      &-item{
         &-element{
            display: flex;
            &-icon{
               img{
                  margin-right: 20px;
                  width: 60px;
                  height: 60px;
               }
            }
            &-text{
               h3{
                  font-size: 16px;
                  font-weight: 500;
                  color: #212C4F;
               }
               h4{
                  font-size: 12px;
                  font-weight: 500;
                  color: #205284;
               }
               h5{
                  font-size: 10px;
                  font-weight: 500;
                  color: #205284;
               }
            }
            &-donl{
               cursor: pointer;
               margin: auto 0px auto auto;
            }
         }
      }
   }
//--section downloads

//section tweet
.tweet{
   .containe{
      h3{
         font-size: 16px;
         font-weight: 500;
         color: #486791;
         margin-top: 50px;
      }
   }
   background-color: #F1F3F5;
   padding: 45px 0;
   &-head{
      h2{
         font-size: 24px;
         font-weight: 700;
         color: #486791;
      }
      button{
         display: block;
         margin: 30px auto 53px;
         img{
            margin-right: 20px;
         }
      }
   }
   &-menu{
      display: flex;
      justify-content: space-between;
      &-item{
         display: flex;
         flex-direction: column;
         h6{
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            color: #94A4BA;
         }
               a{
                  margin-bottom: 5px;
                  text-decoration: none;
                  font-size: 20px;
                  font-weight: 500;
                  color: #5334F5;
               }
      }
   }
}

//--section tweet
